@font-face {
    font-family: RedHatDisplay-SemiBold;
    src: url(fonts/Red_Hat_Display/static/RedHatDisplay-SemiBold.ttf
    );

}
@font-face {
    font-family: RedHatDisplay-Light;
    src: url(fonts/Red_Hat_Display/static/RedHatDisplay-Light.ttf);
}

@font-face {
    font-family: RedHatDisplay-Medium ;
    src: url(fonts/Red_Hat_Display/static/RedHatDisplay-Medium.ttf);
}
@font-face {
    font-family: RedHatDisplay-Regular;
    src: url(fonts/Red_Hat_Display/static/RedHatDisplay-Regular.ttf);
}
*{  margin: 0;
    padding: 0;}

ul li{list-style: none;}

img{max-width: 100%;
  height: auto;}

    /* navbar */
.Navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 20px 20px;
  }
.logo img{
    font-weight: bold;
    font-size: 24px;
    margin-left: 20px;
    max-width: 100%;
    height: auto;
}
ul {
    list-style-type: none;
    display: flex;
    padding-left: 0px;
    color: #333;
    padding: 30px 20px;
    margin-right: 40px;
  }
  
  ul li {
    margin: 0 10px;
  }
  ul :hover{
    color: orange;
  }
 
  ul :active {
    color: #333;
  }
  .btn-1 {
    background-color: white;
    color: #FF383D;
    border: 1px solid #FF383D;
    padding: 10px 20px;
    margin-left: 10px;
    border-radius: 46px;
  }

/* container */
.container {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.main-container {
  display: flex;
  justify-content: space-between;
  padding: 1px;
}

.content-container {
  display: flex;
  align-items: center;
}

.container-text {
  justify-content: flex-start;
  padding-left: 20px;
}

.container-text h5 {
  text-align: left;
  padding-top: 50px;
  font-size: 32px;
  line-height: 39.04px;
  color: #FF383D;
  
}

.container-text h4 {
  text-align: left;
  color: #035755;
  font-size: 52px;
  line-height: 72.28px;
}

.container-text p {
  text-align: left;
  font-size: 24px;
  line-height: 45.6px;
  padding-bottom: 10px;
}

.btn-2 {
  text-align: left;
  background-color: #FB4C47;
  color: #FFFFFF;
  border: 1px solid #FF383D;
  padding: 10px 30px;
  border-radius: 65px;
}

.btn-2:hover {
  color: orange;
}
/*what-is*/
.what-is {
  display: inline-flex;
  justify-content: center;
  gap: 20px;
  }
  .what-is {
  display: flex;
  justify-content: space-between;
  padding: 1px;
  padding-bottom: 30px;
  }
  
  .what-is .text h6 {
  padding-top: 50px;
  font-size: 32px;
  line-height: 39.04px;
  color: #FF383D;
  padding-right: 300px;
  
  }
  
  .what-is .text h2 {
  color: #035755;
  font-size: 52px;
  line-height: 72.28px;
  padding-right: 300px;
  }
  
  .what-is .text p {
  font-size: 24px;
  line-height: 45.6px;
  padding-bottom: 10px;
  padding-right: 350px;
  }
  .btn-3 {
  text-align: right;
  background-color: #FFE1E1;
  color: #FA5652;
  border: 1px solid #FFE1E1;
  padding: 10px 30px;
  border-radius: 65px;
  }
  
  .btn-3:hover {
  color: orange;
  }

  /*contagion*/
  .Contagion {
    text-align: center; 
    padding-top: 30px;
  }

  .text {
    margin-top: 20px; 
  }
  .text h6{
    color : #FA5652;
    font-size: 29px;
    line-height: 35.96px;
  }
  .text h2{
    color: #035755;
    font-size: 50px;
    line-height: 59.5px;
  }
  
  /*cards*/
  .cards {
    display: flex;
    justify-content: space-between;
}

.card {
    width: 450px; 
    height: 450px; 
    margin: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative; 
}

.card:first-child::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    height: 3px;
    background-color: red;
}

.card img {
    height: 249px;
    margin-bottom: 20px;
}

.card h5 {
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: bold;
}

.card p {
    font-size: 14px;
    color: #666;
    margin-bottom: 10px;
}
/*Symptomps*/
.Symptomps {
  text-align: center; 
}

.Symptomps h6{
  color : #FA5652;
  font-size: 29px;
  line-height: 35.96px;
}
.Symptomps h2{
  color: #035755;
  font-size: 50px;
  line-height: 59.5px;
}
.Symptomps p{
  text-align: center;
  color:#4B4F51;
  font-size: 18px;
  line-height: 38.7px;
}

    /* what should we do  */
    .container-2 {
      text-align: center; 
    }
    
    .container-2 h6{
      color : #FA5652;
      font-size: 29px;
      line-height: 35.96px;
    }
    .container-2 h2{
      color: #035755;
      font-size: 50px;
      line-height: 59.5px;
    }
    .container-2 p{
      text-align: center;
      color:#4B4F51;
      font-size: 18px;
      line-height: 38.7px;
    }
    /*numbers*/

    .numbers {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
  }

  .number1
  {
    margin-bottom:90px;
    margin-left:40px;
  }
  .number-img{
    margin-left: 270px;
  }
  .text-1 h2{
    max-width: 100%; 
    color:#0C6C44;
    margin-left: 50px;
  }
  .text-1 p{
    max-width: 100%; 
    color:#4B4F51;
    margin-left: 50px;
  }
  .number2{
    margin-right: 10px;
    margin-bottom: 130px;
  }
  .number-img-2{
    margin-left: 200px;
    margin-bottom: 150px;
    margin-right: 10px;

  }
  .text-2 h2{
    max-width: 100%; 
    color:#0C6C44;
    margin-left: 20px;
  }
  .text-2 p{
    max-width: 100%; 
    color:#4B4F51;
    margin-left: 20px;
  }
  .numder3{
    margin-bottom:90px;
    margin-left:40px;
  }
  .img-3{
    margin-left: 270px;
  }
  .text-3 h2{
    max-width: 100%; 
    color:#0C6C44;
    margin-left: 50px;
    margin-bottom: 10px;
  }
  .text-3 p{
    max-width: 100%; 
    color:#4B4F51;
    margin-left: 50px;
  }
  .number4{
    margin-right: 20px;
    margin-bottom: 340px;
  }

  .img-4 {
    margin-left: 200px;
    margin-bottom: 150px;
    margin-right: 10px;
  }

  
  .text-4 h2{
    max-width: 100%; 
    color:#0C6C44;
    margin-left: 20px;
  }
  .text-4 p{
    max-width: 100%; 
    color:#4B4F51;
    margin-left: 20px;
    margin-bottom:240px ;
  }
    /*masks*/
    .container {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      gap: 20px;
    }
    .main-container {
      display: flex;
      justify-content: space-between;
      padding: 1px;
    }
    
    .content-container {
      display: flex;
      align-items: center;
    }
    
    .container-text {
      justify-content: flex-start;
      padding-left: 20px;
    }
    
    .container-text h5 {
      text-align: left;
      padding-top: 50px;
      font-size: 32px;
      line-height: 39.04px;
      color: #FF383D;
      
    }
    
    .container-text h4 {
      text-align: left;
      color: #035755;
      font-size: 52px;
      line-height: 72.28px;
    }
    
    .container-text p {
      text-align: left;
      font-size: 24px;
      line-height: 45.6px;
      padding-bottom: 10px;
    }
    /*map*/
  
  .image-wrapper {
      display: flex;
  }
  
  .p1{
    width: auto;
    height:auto;
    padding-left: 10px;
  } .p2 {
      width: auto;
      height: auto; 
      padding-right: 30px;
  }


/* question */
.final{
  text-align: center;
  display: block;
  color: #0C6C44;
}
.final h1{
  font-size: 64px;
  line-height: 76.78px;
}
.form{
  justify-content: center;
  border-radius: 57px;
  width: 790px;
  height: 114px;
}


.final .btn-have{
  background-color: #F44A45;
  border: #F44A45;
  padding-top: 30px;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 30px;
  margin-left: -200px;
  margin-top: 10px;
  color: #FFFFFF;
  border-radius: 157px;
  font-size: 22px;
  line-height: 26.39px;
  text-align: left;
  position: absolute;

}
.btn-have:hover {
  color: orange;
  }

/* footer */
.footer-section{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 20px 20px;
}
.logo img{
  font-weight: bold;
  font-size: 24px;
  margin-left: 20px;
  max-width: 100%;
  height: auto;
}
ul {
  list-style-type: none;
  display: flex;
  padding-left: 0px;
  color: #333;
  padding: 30px 20px;
  margin-right: 40px;
}

ul li {
  margin: 0 10px;
}
ul :hover{
  color: orange;
}

ul :active {
  color: #333;
}
.span {
  align-items: center;
  color:#415E56;
  text-align: center;
}